.blocksWrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  justify-content: center;
  /* border-bottom: 2px solid black; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.wrapper > hr {
  width: 90%;
  background-color: rgb(48,48,50);
  margin-top: 10vh;
  height: .5px;
}